name: Test

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: oBusk/action-pnpm-setup@v1

      - name: Test config
        run: pnpm run test
